.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff8e7;
  position: relative;
}

.game-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-and-highscores {
  width: 280px;
}

.game-title {
  font-size: 40px;
  color: #fff8e7;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
  position: relative;
}

.high-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff8e7;
  border-radius: 10px;
  background-color: #363531;
  padding: 20px 30px;
  height: 440px;
  position: relative;
}

.moon-loader {
  margin-top: 40px;
}

.high-scores-title {
  border-bottom: 1px solid #fff8e7;
  padding-bottom: 15px;
  font-size: 26px;
  width: 75%;
}

.high-scores-col-names {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.high-scores-list {
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
}

.high-score {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.high-score-name {
  margin-left: 10px;
  margin-right: auto;
}

.btnPagination {
  background: none;
  color: #fff8e7;
  font-family: monospace;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #fff8e7;
  border-radius: 10px;
  position: absolute;
  bottom: -38px;
}

.btnPagination.disabled {
  cursor: default;
  border: 1px solid rgba(255, 248, 231, 0.6);
  color: rgba(255, 248, 231, 0.6);
}

.btnPagination.prev {
  right: 58%;
}
.btnPagination.next {
  right: 35%;
}


.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 600px;
  margin: 0 56px;
  position: relative;
}

.board::after {
  font-family: 'Courier New', Courier, monospace;
  content: '\00a9  Grayson Blanchard';
  font-size: 14px;
  position: absolute;
  bottom: -22px;
  right: 4px;
  font-weight: bold;
  color: rgb(255, 248, 231, 0.4);
}

.board .square {
  color: black;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.05s;
  border-color: #5d5b54;
}

.board.easy .square {
  height: 73px;
  width: 73px;
}

.board.medium .square {
  height: 58px;
  width: 58px;
}

.board.hard .square {
  height: 48px;
  width: 48px;
}

.board .square.space {
  background-color: #fff8e7;
  color: black;
}

.board .square.wall {
  background-color: black;
  color: #fff8e7;
}

.board .square.player {
  background-color: #02d8a3;
}

.board .square.goal {
  background-color: #ffce44;
}

.game-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-tooltip {
  border: 1px solid rgba(255, 248, 231, 0.6);
  color: rgba(255, 248, 231, 0.6);
  border-radius: 50%;
  font-size: 22px;
  line-height: 22px;
  width: 22px;
  height: 22px;
  padding: 1px;
  cursor: default;
  margin-top: 15px;
}

.retry-count {
  font-size: 20px;
  margin: 10px 0;
}

.btnPrimary {
  padding: 8px 22px;
  min-width: 90px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #fff8e7;
  background-color: #267762;
  border-radius: 25px;
  color: #fff8e7;
}

.btnPrimary:hover {
  cursor: pointer;
  background-color: #fff8e7;
  color: #282c34;
}

.btnPrimary.start {
  margin: 30px 0;
}

.btnPrimary.quit {
  margin-bottom: 30px;
}

.select-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.select-label {
  color: #fff8e7;
  font-size: 16px;
  margin-bottom: 5px;
}

.select-difficulty {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #fff8e7;
  border-radius: 5px;
  background-color: #fff8e7;
}

.select-difficulty:hover {
  cursor: pointer;
  border-color: #282c34;
}

.select-difficulty:focus {
  outline: none;
}

.winning-modal {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
}

.winning-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  padding: 10px;
  background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='none' stroke-width='0' viewBox='0 0 24 24' height='30px' width='30px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.winning-modal-close:hover {
  cursor: pointer;
}

.winning-modal-background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  display: flex;
}

.winning-modal-window {
  z-index: 2;
  background-color: #fff8e7;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 525px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #282c34;
}

.winning-modal-window h1 {
  margin: 0;
  font-size: 40px;
}

.winning-modal-scores {
  font-size: 24px;
  padding: 34px 0;
}

.winning-modal-window input {
  font-size: 18px;
  background-color: #fff8e7;
  border: 1px solid #282c34;
  border-radius: 5px;
  padding: 8px;
  margin-right: 20px;
}

.winning-modal-window input:focus {
  outline: none;
  border: 2px solid #282c34;
  margin-top: -2px;
  margin-right: 18px;
}

.winning-modal-submit {
  border: 1px solid #267762;
}

.winning-modal-submit:hover {
  background-color: #282c34;
  border-color: #282c34;
  color: #fff8e7;
}