body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  max-width: 600px;
  max-height: 600px;
}

.board .square {
  color: black;
  font-size: 14px;
  border: 1px solid black;
}

.board.easy .square {
  height: 73px;
  width: 73px;
}

.board.medium .square {
  height: 58px;
  width: 58px;
}

.board.hard .square {
  height: 48px;
  width: 48px;
}

.board .square.space {
  background-color: white;
  color: black;
}

.board .square.wall {
  background-color: black;
  color: white;
}

.board .square.player {
  background-color: #00ffbf;
}

.board .square.goal {
  background-color: gold;
}